:root {
    --primery-brand-color: #4D5AE5;
    --pressed-state-color: #404BBF;
    --dark-color: #2E2F42;
    --succes-color: #31D0AA;
    --text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-overlay-color: #2E2F42;
    --hero-background-color: #2E2F42;
    --primery-bcg-color: #FFFFFF;
}

h1, 
h2,
h3,
h4,
h5,
h6, 
p {
margin: 0;
}

ul {
padding-left: 0;
margin: 0; 
}

button{
font-style: normal;
}

img {
display: block;    
}

address {
    font-style: normal;
}

.container {
width: 1158px;
margin: 0 auto;
padding-left: 15px;
padding-right: 15px;
}


body {
font-family: 'Roboto', sans-serif;
color: var(--text-color);
background-color: var(--primery-bcg-color);
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.page-header {
border-bottom: 1px solid var(--accent-color);
}

.header-logo {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex; 
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
margin-right: 76px;
}



.menu-first:not(:last-child) {
margin-right: 40px;
}

.link {
text-decoration: none;
}

.header-studio {
font-family: 'Raleway',sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
text-transform: uppercase;
color: var(--modal-overlay-color);

}


.list-menu {
font-weight: 500;
color: var(--modal-overlay-color);
font-style: normal;
}

.menu {
display: flex;
}


.list-menu-one {
color: var(--modal-overlay-color);
font-weight: 500;
}

.list-menu-one:hover,
.list-menu-one:focus {
color: var(--pressed-state-color);
}

.header-logo:hover,
.header-logo:focus {
color: var(--pressed-state-color);
}

.page-header-container {
display: flex;
align-items: center;
justify-content:space-between;
padding-top: 24px ;
padding-bottom: 24px;
}

.navigation {
display: flex;
align-items: center;
}  

.contact-menu {
color: var(--text-color);

}
.contact-menu:not(:last-child) {
margin-right: 40px;    
}

.adress-list {
display: flex;
margin-left: auto;
}


.list {
list-style: none;
}

.adress-item-link:hover,
.adress-item-link:focus {
color: var(--pressed-state-color);
}

.adress-item-link {
color:  var(--text-color);
} 

.adress {
font-style: normal;
}

/*----hero section------*/

.hero-section {
background-color: var(--hero-background-color);
text-align: center;
padding-top: 188px;
padding-bottom: 188px;
}


.main-title {
color: var(--primery-bcg-color);
font-size: 56px;
line-height: 1.07;
text-align: center;
font-weight: 700;
letter-spacing: 0.02em;
margin-right: auto;
margin-left: auto;
width: 496px;
margin: 0 auto;
}

.btn-active {
background-color: var(--primery-brand-color);
font-family: "Roboto", sans-serif ;
font-weight: 500;
color: var(--primery-bcg-color);
cursor: pointer;
display: inline-block;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
padding: 16px 32px;
border-radius: 4px;
border: 2px solid transparent;
margin-top: 48px;
}

.btn-active:hover,
.btn-active:focus {
 background-color: var(--pressed-state-color);   
}

.list-work {
display: flex;
}

.section {
padding-top: 120px;
padding-bottom: 120px;

}

.foto-work {
padding-top: 0;
}

.title {
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.2;
margin-bottom: 8px;
}

.text {
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.menu-item:not(:last-child) {
margin-right: 24px;
}


ul, 
ol {
    list-style:none;  
    text-decoration:none;  
}

/*------Что мы делаем------*/

.section-our-work-list {
font-style: normal;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.11;
text-align: center;
margin-bottom: 72px;
}


.list-menu {
display: flex;    
}

/*--------Our Team Section-------*/


.section-conteiner-hidden {
font-style: normal;
font-weight: 700;
font-size: 36px;
color: #2E2F42;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 72px;
}

.section-second {
background: var(--light-color)
}

.menu-item {
background-color:#FFFFFF;
}

.picture-card {
padding: 32px 16px;  
border: 1px solid var(--accent-color);
border-top: none;  
}

.title-second {
font-style: normal;
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.2;
margin-bottom: 8px;
}

.text-third {
font-style: normal;
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
color: #434455;
line-height: 1.5;
}

.list-team {
display: flex;
text-align: center;
}

/*------Footer----------*/

.last-word {
width: 264px;
margin-top: 16px;
}

.section-finish {
background-color: #2E2F42;
padding-top: 100px;
padding-bottom: 100px;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--primery-brand-color);
text-decoration:none;
text-transform: uppercase;
}

/*--------Portfolio--------*/



.logo-studio {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
letter-spacing: 0.03em;
color: #F4F4FD;
text-decoration:none;
}


.header-studio {
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17px;
letter-spacing: 0.03em;
color: #2E2F42;
}


/*-----------КНОПКИ------------*/


.button-section {
padding-bottom: 120px;
padding-top: 96px;
}


.btn-active-another {
color: var(--primery-brand-color);
background-color: var(--light-color);
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
border-radius: 4px;
border: 2px solid var(--accent-color);
padding: 12px 24px;

}

.btn-active-another:hover,
.btn-active-another:focus {
background-color: var(--pressed-state-color);
color: var(--primery-bcg-color);
}

.list-menu-section {
justify-content: center;
display:flex;
gap: 24px;
}


/*-----------НАША РАБОТА--------*/




.menu-work {
display:flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
margin-top: 72px; 

}

.menu-picture-list {
width: 360px;

}

.menu-work-foto {
color: #2e2f42;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;

}

.text-foto {
color: #434455;
font-family: 'Roboto';
font-style: normal;
letter-spacing: 0.02em;
font-size: 16px;
color: #434455;
text-decoration: none;

}

.card-border {
border: 1px solid var(--accent-color);
border-top: none; 
padding-top: 32px;
padding-bottom: 32px;
padding-left: 16px;
}

.link {
    text-decoration: none;
}